

body {
    background-color: rgb(140, 38, 20);
}

h1, h2 {
  color: color(white);
}

form {
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 8px;
  font-size: 16px;
}

button {
  padding: 8px 12px;
  font-size: 16px;
  margin-left: 8px;
}

#guest-list {
  list-style: none;
  padding: 0;
}

#guest-list li {
  background: greenyellow;
  margin-bottom: 8px;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.05);
}